################################################################################
## Tool Alias
################################################################################

[tool_alias]
gh_emmylua_ls = "github:EmmyLuaLs/emmylua-analyzer-rust"
gh_emmylua_check = "github:EmmyLuaLs/emmylua-analyzer-rust"

################################################################################
## Tools
################################################################################

[tools]
lua = "5.1.5"
neovim = "0.11.5"
stylua = "2.3.1"

[tools.gh_emmylua_ls]
version = "0.19.0"
[tools.gh_emmylua_ls.platforms]
linux-x64 = { asset_pattern = "*_ls-linux-x64*" }
macos-x64 = { asset_pattern = "*_ls-darwin-x64*" }
macos-arm64 = { asset_pattern = "*_ls-darwin-arm64*" }

[tools.gh_emmylua_check]
version = "0.19.0"
[tools.gh_emmylua_check.platforms]
linux-x64 = { asset_pattern = "*_check-linux-x64*" }
macos-x64 = { asset_pattern = "*_check-darwin-x64*" }
macos-arm64 = { asset_pattern = "*_check-darwin-arm64*" }

################################################################################
# Env
################################################################################

[env]
ASDF_LUA_LUAROCKS_VERSION = "3.12.2"
_.source = { path = "./scripts/env.sh", tools = true }

################################################################################
# Tasks
################################################################################

[tasks]
lint = "emmylua_check ."
fmt = "stylua --verbose ."
"fmt:check" = "stylua --verbose --check ."

[tasks."test"]
hide = true
run = '''
# Install Lua test dependencies (busted, etc.):
luarocks test --prepare
echo
busted --verbose
'''

[tasks."ci"]
run = '''
mise run fmt:check
mise run lint
mise run test
'''
