[tools]
lua = "5.1.5"
neovim = "0.11.5"
stylua = "2.3.1"

[tools."cargo:emmylua_check"]
version = "0.19.0"
url = "https://github.com/EmmyLuaLs/emmylua-analyzer-rust@tag:0.19.0"
crate = "emmylua_check"

[tools."cargo:emmylua_ls"]
version = "0.19.0"
url = "https://github.com/EmmyLuaLs/emmylua-analyzer-rust@tag:0.19.0"
crate = "emmylua_ls"

[env]
ASDF_LUA_LUAROCKS_VERSION = "3.12.2"
_.source = { path = "./scripts/env.sh", tools = true }

[tasks]
lint = "emmylua_check ."
fmt = "stylua ."
"fmt:check" = "stylua --check ."

[tasks."test"]
hide = true
run = '''
# Install Lua test dependencies (busted, etc.):
luarocks test --prepare
echo
busted --verbose
'''

[tasks."ci"]
run = '''
mise run fmt:check
mise run test
'''
